@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 1.25rem;

  --background: hsl(30, 8%, 95%);
  --foreground: hsl(0, 8%, 5%);

  --card: hsl(20, 10%, 94%);
  --card-foreground: hsl(0, 8%, 5%);

  --popover: hsl(20, 10%, 94%);
  --popover-foreground: hsl(0, 8%, 5%);

  --primary: hsl(12, 21%, 55%);
  --primary-foreground: hsl(0, 9%, 2%);

  --secondary: hsl(10, 12%, 91%);
  --secondary-foreground: hsl(0, 8%, 5%);

  --muted: hsl(15, 8%, 91%);
  --muted-foreground: hsl(14, 9%, 45%);

  --accent: hsl(15, 8%, 91%);
  --accent-foreground: hsl(0, 8%, 5%);

  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(0, 0%, 98%);

  --border: hsl(20, 9%, 87%);
  --input: hsl(13, 9%, 80%);
  --ring: hsl(13, 36%, 72%);
}

.dark {
  --background: hsl(0, 7%, 8%);
  --foreground: hsl(60, 9%, 98%);

  --card: hsl(0, 6%, 10%);
  --card-foreground: hsl(60, 9%, 98%);

  --popover: hsl(0, 6%, 10%);
  --popover-foreground: hsl(60, 9%, 98%);

  --primary: hsl(12, 21%, 55%);
  --primary-foreground: hsl(0, 9%, 2%);

  --secondary: hsl(15, 8%, 19%);
  --secondary-foreground: hsl(60, 9%, 98%);

  --muted: hsl(0, 7%, 14%);
  --muted-foreground: hsl(12, 8%, 65%);

  --accent: hsl(11, 71%, 19%);
  --accent-foreground: hsl(60, 9%, 98%);

  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(0, 0%, 98%);

  --border: hsl(12, 8%, 12%);
  --input: hsl(15, 9%, 18%);
  --ring: hsl(12, 22%, 40%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
